@import "tailwindcss";
@config "../tailwind.config.js";

html {
    scroll-behavior: smooth;
    cursor: none;
}

body {
    background-color: black;
    color: white;
}

/* Custom glow classes */
.glow-cyan {
    box-shadow: 0 0 20px rgba(6, 182, 212, 0.3);
}

.glow-purple {
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.3);
}.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  --c: #09f;

  background-color: #000;

  background-image:
    radial-gradient(4px 100px at 0px 235px, var(--c), transparent),
    radial-gradient(4px 100px at 300px 235px, var(--c), transparent),
    radial-gradient(1.5px 1.5px at 150px 117.5px, var(--c) 100%, transparent);

  background-size: 300px 235px;
  animation: rain 20s linear infinite;
}

/* overlay glow + blur */
.rain-container::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1em) brightness(6);

  background-image: radial-gradient(
    circle at 50% 50%,
    transparent 0,
    transparent 2px,
    hsl(0 0% 4%) 2px
  );

  background-size: 8px 8px;
}

/* animation */
@keyframes rain {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px 2000px;
  }
}
.cube {
  height: 80px;
  width: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.cube_item {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.cube_x {
  background-color: blueviolet;
  animation: animateLoaders 1s infinite;
}

.cube_y {
  background-color: aqua;
  animation: animateLoaders 1s 0.5s infinite;
}

@keyframes animateLoaders {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
